
.body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContainer{
    width: 95%;
    height: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

.mainContainerLeftDiv {
    flex: 4;
}

.mainContainerRightDiv {
    flex: 1;
    background-color: black;
    padding: 20px;
    color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.inputBoxDiv{

}

.texteInputRow{
    display: flex;
    flex-direction: row;
}

.inputSection{
    flex: 4;
    width: 100%;
    height: 40px;
}

.inputNum {
    width: 60px;
}

.publierButton{
    flex: 1;
    background-color: orange;
    border: black;
}

.avisDiv {
    height: 500px;
    overflow-y: scroll;
}


.mainContainerLeftDiv img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.mainContainerRightDiv h1{
    text-decoration: underline;
}

.NomNoteRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.avisRow p1 {
    flex: 1;
    width: 500px;
    max-width: 25%;
    min-height: 50px;
    padding-top: 5px;
    overflow-wrap: break-word;
}

.avisRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}